.card {
	background-color: white;
	
	margin: 0px 12px 24px;
	padding: 8px;

	border-radius: 4px;
	border: 1px solid darkslateblue;
	width: 16%;
}

.persona img{
		background-color: gray;
		height: auto;
		width: 100%;

}

.persona button {
	margin-top: 24px;
}