.App {
    background-color: black;
    font-family: Roboto, Consolas;
    padding: 2.5% 4%; 
    min-height: 100vh;
}

.container {
    margin: auto;
    padding: 24px 0;

    border-radius: 4px;
    background-color: dimgray;
    text-align: center;
    text-transform: uppercase;
}

.container > .title {
    color: white;
    margin-top: 0;
    margin-bottom: 24px;
}

.timer-wrapper {
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    height: 100px;
    padding: 16px; 
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
}

.characters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

button {
    padding: 8px 12px;
    margin: 4px;
    
    background-color: gold;
    border: 0;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: 0;
}

button:hover {
    background-color: black;
    color: white;
}

button.disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}