.container {
    width: 95%;
    margin: auto;

    background-color: aquamarine;
    text-align: center;
    text-transform: uppercase;
}

.characters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}